$mainColor: black;
$offsetColor: white;

main.myCoin {

  & > .top {
    grid-row: 1/20;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20, 1fr);
    & > .text {
      grid-row: 6/17;
      text-align: left;
      color: $mainColor;
      font-size: 12px;
      grid-column: 2/5;
      letter-spacing: 0;
    }
  }

  & > .content {
    grid-row: 20/45;
    grid-column: 1/6;
    background-color: #d3d3d3;
    color: $offsetColor;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, .25fr);
    & > .text {
      grid-column: 2;
      grid-row: 6;
      text-align: center;
      color: $mainColor;
    }
    & > .text:hover {
      color: $offsetColor;
    }
  }

  & > .more {
    grid-row: 45 /75;
    grid-column: 1/6;
    background-color: white;
    border-top: 1px dashed gray;
    display: grid;
    & > .text {
      grid-row: 2;
      text-align: center;
      color: $mainColor;
    }
  }

}


